.theme-toggle-button {
  width: 40px;
  height: 40px;
  display: block;
}

.theme-toggle-icon {
  color: var(--color-purple-900);
}

:global(.dark) .theme-toggle-icon {
  color: var(--color-yellow-500);
}
